body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(212, 204, 204);
    margin:15em 15em 15em 15em;
}


.section{
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}



.phone{ 
    width: 190px;
    background-color: white;
    margin-right: 1.5em;
    padding: 40px 30px;
}

.fas{
    margin-bottom: 1em ;
    margin-left: 46%;
    font-size: 26px;
    color: rgb(7, 195, 252);
}

.location{
    width: 190px;
    margin-right: 1.5em;
    background-color: white; 
    padding: 40px 27px;
}




.envelop{
    width: 190px;
    margin-right: 1.5em;
    background-color: white;
    padding: 40px 30px;
}

.far{
    margin-bottom: 1em ;
    font-size: 26px;
    margin-left: 44%;
    color: rgb(7, 195, 252);
}

.clock{
    margin-right: 1.5em;
    width: 190px;
    background-color: white;
    padding: 40px 36px;

}

p{
    margin-top: 10px;
    text-align: center;
    color: #808080;

}

a{
    text-decoration: none;
    color: #808080;
}